* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./images/adminbg.jpg");
  text-align: center;
  padding-top: 250px;
  padding-left: 200px
}

.head {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: large;
  text-align: center;
  font-weight: bold;
  font-size: large;
  word-spacing: 0.1rem;
}
.form {
  margin-left: 5px;
  max-height: 500px;
  max-width: 500px;
  border: solid 2px whitesmoke;
  border-radius: 25px;
  background-color:  rgb(106 106 106 / 93%);
}

.btn {
  display: block;
  height: 40px;
  width: 140px;
  border-radius: 25px;
  font-size: medium;
  font-weight: 500px;
  margin-left: 140px;
}

.btn:hover {
  color: black;
  background-color: darkorange;
  transition: 0.5s;
}
#container{
  align-items: center;
  background-color: #454545f5;
  margin-left: 500px;
  margin-right: 500px;
  position: fixed;
  border-radius: 25px;
  box-shadow: rgb(170, 13, 13);
}